form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form label {
  display: flex;
  margin: 0.5rem 0;
}

form input {
  height: 1rem;
  width: auto;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

form button {
  margin: 1rem;
}
